<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dev">
        <environment id="dev">
            <!-- JDBC와 MANAGED 둘 중 하나 선택 가능 -->
            <transactionManager type="JDBC"/>

            <!-- POOLED와 UNPOOLED 선택 가능 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/menu"/>
                <property name="username" value="sahmyook"/>
                <property name="password" value="sahmyook"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 매퍼 등록도 xml파일 내에서 태그로 작성 -->
        <mapper resource="mapper.xml"/>
    </mappers>
</configuration>