<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>View Resolver를 이용한 View 연결</h1>

    <h3>1-1. 문자열로 View 이름 반환</h3>
    <button onclick="location.href='string'">문자열로 View 이름 반환 (forward)</button>

    <h3>1-2. 문자열로 redirect</h3>
    <button onclick="location.href='string-redirect'">문자열로 View 이름 반환하여 redirect</button>

    <h3>1-3. 문자열로 View 이름 반환하면서 flashAttribute 추가</h3>
    <button onclick="location.href='string-redirect-attr'">
        문자열로 View 이름 반환하여 redirect & flashAttr 사용
    </button>
    <script>
        const flashMessage1 = `[[${ flashMessage1 }]]`;

        console.log("flashMessage1", flashMessage1);

        if (flashMessage1) {
            alert(flashMessage1);
        }
    </script>

    <h3>2-1. ModelAndView로 View 이름 지정해 반환</h3>
    <button onclick="location.href='modelandview'">ModelAndView로 View 이름 반환 (forward)</button>

    <h3>2-2. ModelAndView로 redirect</h3>
    <button onclick="location.href='modelandview-redirect'">
        ModelAndView로 View 이름 반환하여 redirect
    </button>

    <h3>2-3. ModelAndView로 View 이름 반환하면서 flashAttribute 추가</h3>
    <button onclick="location.href='modelandview-redirect-attr'">
        ModelAndView로 View 이름 반환하여 redirect & flashAttr 사용
    </button>
    <script>
        const flashMessage2 = `[[${ flashMessage2 }]]`;
        console.log('flashMessage2', flashMessage2);
        if (flashMessage2) {
            alert(flashMessage2);
        }
    </script>
</body>
</html>