<!DOCTYPE html>
<!--
    xmlns
    : 타임리프의 th 속성을 사용하기 위해 네임스페이스로 html 태그의 속성 작성
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
</head>
<body>
    <h1>Expression (표현식)</h1>

    <h2>주석</h2>
    <!--
        [ 주석의 종류 ]
        - parser-level 주석 : 정적인 페이지에서는 주석으로 있다가 thymeleaf가
                            처리될 때 제거되어 클라이언트에게 노출되지 않음
        - prototype-only 주석 : 정적인 페이지에서는 주석으로 있다가 thymeleaf
                                처리 후에는 화면에 보여짐
    -->
    <ul>
        <li>parser-level 주석</li>
        <!--/* parser-level 주석 내용 */-->
        <li>prototype-only 주석</li>
        <!--/*/ prototype-only 주석 내용 /*/-->
    </ul>

    <h2>표현식</h2>
    <!--
        Variable Expressions ${...}
        Selection Variable Expressions *{...}
        Message Expressions #{...}
        Link URL Expressions @{...}
        Fragment Expressions ~{...}
        Inline Expressions [[...]] [(...)]
    -->

    <h3>1. 변수 표현식 ${...}</h3>
    <!--
        parameter로 넘어온 경우 param 명시
        (session attribute인 경우 session,
        model에 담겨온 경우는 스코프를 따로 적지 않음)
    -->
    <p th:text="${ param.title }"></p>
    <p th:text="${ param.no[0] }"></p>
    <p th:text="${ param.no[1] }"></p>
    <!-- 파라미터가 존재하지 않으면 에러 발생 -->
    <!--<p th:text="${ param.no[2] }"></p>-->

    <h3>2. 메시지 표현식 #{...}</h3>
    <!-- resources 폴더 하위에 messages.properties 읽어옴 -->
    <p th:text="#{ message.value }"></p>

    <h3>3. 링크 표현식 @{...}</h3>
    <a th:href="@{/}">HOME</a>

    <h3>4. 선택 변수 표현식 *{...}</h3>
    <p th:text="${ member.name }"></p>
    <p th:object="${ member }" th:text="*{ age }"></p>
    <p th:object="${ member }" th:text="*{ gender }"></p>
    <div th:object="${ member }">
        <p th:text="*{ name }"></p>
        <p th:text="*{ address }"></p>
    </div>

    <h3>HTML 출력 - th:text, th:utext, th:value</h3>
    <!--
        th:text는 escape가 적용되어 태그를 단순 문자열로 처리
        th:utext는 escape가 적용되지 않아 태그를 태그로써 인식
        th:value는 태그의 value 값 지정 가능
    -->
    <ul>
        <li th:text="${ hello }"></li>
        <li th:utext="${ hello }"></li>
        <li><input type="text" th:value="Thymeleaf"></li>
    </ul>

    <h3 th:inline="none">인라인 표현식 [[...]], [(...)]</h3>
    <ul>
        <li th:inline="text">[[${ hello }]]</li>
        <li>[(${ hello })]</li>
        <li th:inline="none">[[${ hello }]]</li>
        <li th:inline="none">[(${ hello })]</li>
    </ul>

    <script th:inline="javascript">
        window.onload = function() {

            /* 정적 페이지에서는 자바스크립트 문법 오류 발생 (리터럴 형태가 아니기 때문)
             * 동적 페이지에서는 정상 동작 (알아서 ""로 감싸서 던지기 때문) */
            // let hello = [[${ hello }]];

            /* 정적 페이지에서는 정상 동작 (문자열 리터럴 형태이기 때문)
             * 동적 페이지에서는 에러 발생 (""로 감싸기 때문에 ""[[${ hello }]]"" 처리되기 때문) */
            // let hello = "[[${ hello }]]";

            /* 정적 페이지와 동적 페이지 모두 정상 동작 */
            let hello = '[[${ hello }]]';

            alert(hello);
        }
    </script>

    <h2>리터럴 치환 |...|</h2>
    <h3>'+'를 쓰지 않고 문자열 합치기</h3>
    <p th:object="${ member }" th:text="|name = '*{ name }'|"></p>
    <p th:object="${ member }" th:text="| address = '*{ address }'|"></p>

    <h2>th:block</h2>
    <h3>범위를 지정하고 싶을 때 사용한다.
        th:block을 통해 해당 범위에 변수나 객체를 적용하거나 조건에
        해당되는지에 따라 해당 범위를 보여줄지 여부를 결정할 때
        사용할 수 있다.</h3>
    <th:block th:object="${ member }">
        <p th:text="*{ name }"></p>
        <p th:text="*{ age }"></p>
        <p th:text="*{ gender }"></p>
        <p th:text="*{ address }"></p>
    </th:block>

</body>
</html>