<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>WebRequest로 Parameter 값 전달 받기</h1>
    <form action="test" method="post">
        신메뉴 이름 : <input type="text" name="menuName"><br>
        신메뉴 가격 : <input type="number" name="price"><br>
        신메뉴 카테고리 :
        <select name="categoryCode">
            <option value="1">식사</option>
            <option value="2">음료</option>
            <option value="3">디저트</option>
        </select><br>
        <button type="submit">신메뉴 등록</button>
    </form>
</body>
</html>